<div class="add">
    <md-button class="md-icon-button">
        <md-tooltip>Ghim</md-tooltip>
        <md-icon class="md-default-theme" class="material-icons">&#xE06A;</md-icon>
    </md-button>
    <md-button layout-align="end center" class="md-icon-button" aria-label="Close Side Panel" ng-click="closeAddNote()">
        <md-tooltip>Hủy</md-tooltip>
        <md-icon class="md-default-theme" class="material-icons">&#xE5CD;</md-icon>
    </md-button>
    <md-input-container md-no-float class="md-block">
        <label>Tiêu đề</label>
        <input type="text">
    </md-input-container>
    <md-button class="md-icon-button">
        <md-tooltip>Nhắc tôi</md-tooltip>
        <md-icon class="md-default-theme" class="material-icons">&#xE855;</md-icon>
    </md-button>
    <md-button class="md-icon-button">
        <md-tooltip>Cộng tác viên</md-tooltip>
        <md-icon class="md-default-theme" class="material-icons">&#xE7FE;</md-icon>
    </md-button>
    <md-button class="md-icon-button">
        <md-tooltip>Thay đổi màu</md-tooltip>
        <md-icon class="md-default-theme" class="material-icons">&#xE3B7;</md-icon>
    </md-button>
    <md-button class="md-icon-button">
        <md-tooltip>Thêm hình ảnh</md-tooltip>
        <md-icon class="md-default-theme" class="material-icons">&#xE251;</md-icon>
    </md-button>
    <md-button class="md-icon-button">
        <md-tooltip>Lưu trữ</md-tooltip>
        <md-icon class="md-default-theme" class="material-icons">&#xE161;</md-icon>
    </md-button>
    <md-button class="md-icon-button">
        <md-tooltip>Thêm</md-tooltip>
        <md-icon class="md-default-theme" class="material-icons">&#xE5D4;</md-icon>
    </md-button>
</div>
