<md-progress-linear md-mode="indeterminate"></md-progress-linear>
<h1>Chào mừng</h1>
<span {{emailI}}></span>
<md-button class="md-icon-button" aria-label="Close Side Panel" ng-click="backInputEmail()">
    <md-tooltip>Đổi tài khoản</md-tooltip>
    <md-icon class="md-default-theme" class="material-icons">&#xE5C4;</md-icon>
</md-button>
<hr>
<form name="login" ng-submit="angCtrl.loginForm()" class="form-horizontal" method="POST">
    <md-input-container md-no-float class="md-block">
        <label>Mật Khẩu</label>
        <md-icon md-svg-src="../img/icons/key.svg"></md-icon>
        <input ng-model="angCtrl.inputData.password" type="password">
    </md-input-container>
    <div layout="row" layout-align="end center">
        <md-button type="submit" class="md-raised">Đăng nhập</md-button>
    </div>
    <div class="alert alert-danger" ng-show="errorMsg">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
            ×</button>
        <span class="glyphicon glyphicon-hand-right"></span>&nbsp;&nbsp;{{errorMsg}}
    </div>
</form>