<md-input-container class="md-block">
    <label>Select</label>
    <md-select ng-model="angCtrl.inputData.select" type="text" ng-select="2" ng-value="data.select">
        <md-option><em>None</em></md-option>
        <md-option value="widget1">Widget1</md-option>
        <md-option value="widget2">Widget2</md-option>
        <md-option value="widget3">Widget3</md-option>
        <md-option value="widget4">Widget4</md-option>
        <md-option value="widget5">Widget5</md-option>
    </md-select>
</md-input-container>
<div layout="row" layout-align="center center">
    <md-button type="submit" class="md-raised">OK</md-button>
</div>


